@font-face {
  font-family: "ProximaNova-Black";

  src: local("ProximaNova-Black"),
    url("https://nomail.com.ua/files/eot/aa46d234cf405126cdd1c36600e4b978.eot?#iefix") format("embedded-opentype"),
    url("https://nomail.com.ua/files/woff/aa46d234cf405126cdd1c36600e4b978.woff") format("woff"),
    url("https://nomail.com.ua/files/woff2/aa46d234cf405126cdd1c36600e4b978.woff2") format("woff2");
}

@font-face {
  font-family: "ProximaNova-Black";
  src: local("ProximaNova-Black"),
    url("https://nomail.com.ua/files/woff/aa46d234cf405126cdd1c36600e4b978.woff") format("woff");
}

*,
*:after,
*::before {
  box-sizing: border-box;
}

body {
  background: #070506 url("/img/main-bg.png") no-repeat;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.container {
  margin: auto;
  width: 90%;
  max-width: 1060px;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 90px;
}

.header__logo {
  margin-right: 70px;
}

.nav__link {
  text-decoration: none;
  color: #ffffff;
  margin-right: 15px;
}

.hero__subtitle {
  display: block;
  margin-top: 78px;
  font-size: 40px;
  line-height: 100%;
  font-family: "ProximaNova-Black", sans-serif;
}

.hero__title {
  margin-top: 5px;
  font-size: 64px;
  line-height: 100%;
  font-family: "ProximaNova-Black", sans-serif;
  margin-bottom: 25px;
}

.hero__description {
  font-size: 18px;
  line-height: 150%;
  color: #afafaf;
  max-width: 572px;
}

.hero__premier {
  display: block;
  font-size: 18px;
  line-height: 150%;
  color: #b02000;
  margin-bottom: 5px;
}

.hero__date {
  font-size: 24px;
  line-height: 150%;
  display: block;
  margin-bottom: 46px;
}

.button-play {
  position: relative;
  border: none;
  outline: none;
  background: linear-gradient(90deg, #fb641a 0%, #fc3309 100%);
  border-radius: 300px;
  color: #ffffff;
  padding: 25px 35px;
  padding-right: 80px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.button-play::after {
  content: "";
  position: absolute;
  width: 65px;
  height: 65px;
  background-color: #fff;
  background: #fff url(../img/play.svg) center no-repeat;
  right: 0;
  top: 0;
  border-radius: 50%;
}

.button-play::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: rgb(255, 255, 255, 0.3);
  right: -7px;
  top: -7px;
  border-radius: 50%;
}

.episodes {
  padding: 60px 0;
}

.episodes__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 26px;
}

.slider {
  display: flex;
  flex-wrap: wrap;
}

.slider__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  min-height: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 30px;
  background: rgba(80, 80, 80, 0.86);
  transition: all 0.2s;
  box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.slider__item:hover {
  background: rgba(64, 101, 255, 0.86);
  box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  cursor: pointer;
}

.slider__image {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}